/* RegisterPagina 
===================================================================================================================================================================================
Bedrijf:        Strago Electro
Opdrachtgever:  
Versie:         1.0
===================================================================================================================================================================================
Versie          Programeur          Omschrijving          Datum           Status
0.1             Twan van Zuijdam    Eerste Opzet          06-03-2023      Concept
0.9             Twan van Zuijdam    Reviewd               17-03-2023      Concept
1.0             Twan van Zuijdam    Page Approved         17-03-2023      Definitief
===================================================================================================================================================================================
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

:root{
    --bgGreen: #02499b;
}

    .navlist {
        display: none;
    }

    .logo-case {
        display: none;
    }

    .clock {
        display: none;
    }

    .logo-case-2 {
        display: none;
    }

    .burger {
        display: none;
    }

    body {
        background: var(--bgGreen);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden; 
        overflow-x: hidden; 
    }

    .login-form,
    .login-form * {
        box-sizing: border-box;
        font-family: 'Source Sans Pro';
    }

    .login-form {
        border-radius: 5px;
        overflow: hidden;
    }

    .login-form__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background: white;
    }

    .login-form__logo {
        display: block;
        max-width: 200px;
        margin: 0 auto;
    }

    .login-form__content {
        padding: 30px;
        background: #eeeeee;
        justify-content: center;
        align-items: center;
    }

    .login-form__header {
        margin-bottom: 15px;
        text-align: center;
        color: #333333;
    }

    .login-form__input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #dddddd;
        background: #ffffff;
        outline: none;
        transition: border-color 0.5s;
    }

    .login-form__input:focus {
        border-color: #20e303;
    }

    .login-form__input::placeholder {
        color: #aaaaaa;
    }

    .login-form__button {
        padding: 10px;
        color: #ffffff;
        font-weight: bold;
        background: #20e303;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .login-form__button:active {
        background: #20e303;
    }

    .login-form__links {
        margin-top: 15px;
        text-align: center;
    }

    .login-form__link {
        font-size: 0.9em;
        color: #1a73e8;
        text-decoration: underline;
    }