/* Veld4
===================================================================================================================================================================================
Bedrijf:        Strago Electro
Opdrachtgever:  
Versie:         0.1
===================================================================================================================================================================================
Versie          Programeur          Omschrijving          Datum           Status
0.1             Twan van Zuijdam    Eerste Opzet          06-03-2023      Concept
===================================================================================================================================================================================
*/

@media(min-width: 900px) {
    .Settings,
    .Veld2,
    .Veld1,
    .Veld3,
    .Home,
    .Logout {
        text-decoration: none;
    }
}

@media(max-width: 900px) {
    .Settings,
    .Veld2,
    .Veld1,
    .Veld3,
    .Home,
    .Logout {
        text-decoration: none;
    }
}