{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/dcbb15e7da.js" crossorigin="anonymous"></script>
    <title>Veld 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'CSS/Veld2.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Format.css' %}" />
</head>
<body>
    <main>
        <form class="fields" method="post">
            <div class="full-map">
                <div class="picture">
                    <button name="field3_active"><img {% if active_fields|length_is:"1" and 'field3_active' in active_fields %} src="{% static 'IMG/Tennisfield-Active.png' %}" {% else %} src="{% static 'IMG/Tennisfield-Deactivate.png' %}"{% endif %} alt=""></button>
                </div>
            </div>
            {% csrf_token %}
        </form>
        <form class="controls" method="post">
            <button {% if light.lamp009_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp009_bool"><i class="fa-regular fa-lightbulb"></i> Wedstrijd {{ light.Lamp009_bool }}</button>
            <button {% if light.lamp0010_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp0010_bool"><i class="fa-regular fa-lightbulb"></i> Training {{ light.Lamp0010_bool }}</button>
            <button {% if light.lamp0011_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp0011_bool"><i class="fa-regular fa-lightbulb"></i> Gedimd {{ light.Lamp0011_bool }}</button>
            <button {% if light.lamp0012_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp0012_bool"><i class="fa-regular fa-lightbulb"></i> Off {{ light.Lamp0012_bool }}</button>
            {% csrf_token %}
        </form>
    </main> 
    <script src="{% static 'JS/Nav.js' %}"></script>   
    <script src="{% static 'JS/Collorchange_Button.js' %}"></script> 
</body>
</html>
