{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/dcbb15e7da.js" crossorigin="anonymous"></script>
    <title>Veld 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'CSS/Veld1.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Format.css' %}" />
</head>
<body>
    <main>
        <form class="fields" method="post">
            <div class="full-map">
                <div class="picture">
                    <button name="field7_active"><img {% if active_fields|length_is:"1" and 'field7_active' in active_fields %} src="{% static 'IMG/Soccerfield_active.png' %}" {% else %} src="{% static 'IMG/Soccerfield.png' %}"{% endif %} alt=""></button>
                </div>
            </div>
            <div class="half-top">
                <div class="picture">
                    <button name="field8_active"><img {% if active_fields|length_is:"1" and 'field8_active' in active_fields %} src="{% static 'IMG/Soccerfield-half-bottom-active.png' %}" {% else %} src="{% static 'IMG/Soccerfield-half-bottom.png' %}"{% endif %} alt=""></button>
                </div>
            </div>
            <div class="half-bottom">
                <div class="picture">
                    <button name="field9_active"><img {% if active_fields|length_is:"1" and 'field9_active' in active_fields %} src="{% static 'IMG/Soccerfield-half-top-active.png' %}" {% else %} src="{% static 'IMG/Soccerfield-half-top.png' %}"{% endif %} alt=""></button>
                </div>
            </div>
            <div class="keeper-bottom">
                <div class="picture">
                    <button name="field10_active"><img {% if active_fields|length_is:"1" and 'field10_active' in active_fields %} src="{% static 'IMG/Soccerfield-keeper-bottom-active.png' %}" {% else %} src="{% static 'IMG/Soccerfield-keeper-bottom.png' %}"{% endif %} alt=""></button>
                </div>
            </div>
            <div class="keeper-top">
                <div class="picture">
                    <button name="field11_active"><img {% if active_fields|length_is:"1" and 'field11_active' in active_fields %} src="{% static 'IMG/Soccerfield-keeper-top-active.png' %}" {% else %} src="{% static 'IMG/Soccerfield-keeper-top.png' %}"{% endif %} alt=""></button>
                </div>
            </div>
            <div class="both-keeper">
                <div class="picture">
                    <button name="field12_active"><img {% if active_fields|length_is:"1" and 'field12_active' in active_fields %} src="{% static 'IMG/Soccerfield-both-keeper-active.png' %}" {% else %} src="{% static 'IMG/Soccerfield-both-keeper.png' %}"{% endif %} alt=""></button>
                </div>
            </div>
            {% csrf_token %}
        </form>
        <form class="controls" method="post">
            <button {% if light.lamp005_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp005_bool"><i class="fa-regular fa-lightbulb"></i> Wedstrijd {{ light.Lamp005_bool }}</button>
            <button {% if light.lamp006_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp006_bool"><i class="fa-regular fa-lightbulb"></i> Training {{ light.Lamp006_bool }}</button>
            <button {% if light.lamp007_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp007_bool"><i class="fa-regular fa-lightbulb"></i> Gedimd {{ light.Lamp007_bool }}</button>
            <button {% if light.lamp008_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp008_bool"><i class="fa-regular fa-lightbulb"></i> Off {{ light.Lamp008_bool }}</button>
            {% csrf_token %}
        </form>
    </main> 
    <script src="{% static 'JS/Nav.js' %}"></script>   
    <script src="{% static 'JS/Collorchange_Button.js' %}"></script> 
</body>
</html>
